.action-form {
  input {
    margin-bottom: 10px;
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  a {
    height: 40px;
    width: 200px;
    background-color: #34a38c;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff !important;
    text-decoration: none !important;
    transition: all .3s ease;
    margin-left: 10px;

    @include phone {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  a:hover {
    background-color: darken(#34a38c, 10%);
  }

  &__cancel {
    background-color: tomato !important;
  }

  &__cancel:hover {
    background-color: darken(tomato, 10%) !important;
  }
}
