.edit-button {
  height: 40px;
  width: 200px;
  background-color: #347da2;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff !important;
  text-decoration: none !important;
  transition: all .3s ease;
  margin-right: 10px;

  &:hover {
    background-color: darken(#347da2, 10%);
  }

  @include ds-small {
    width: 170px;
  }

  @include phone {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
