.footer {
  height: 50px;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: #fff;
    font-weight: 300;
  }

  a {
    color: gold;
  }
}
